body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
}
#container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: #111;
    padding: 20px;
    border: 1px #222 solid;
}

#header h1 { margin: 0; }

#header a, #nav a { color: rgb(28, 161, 202); text-decoration: none; }
#header a:hover, #nav a:hover { color: rgb(157, 204, 255); text-decoration: underline; }

/*
input[type='range'] {
    -webkit-appearance: none;
    background-color: gray;
    height: 20px;
    border-radius: 15px;
    padding: 0 3px;
}

input[type='range']::-webkit-slider-thumb {
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #444;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}
*/



.classifyName{
   font-size: 18px;

    color: rgb(28, 161, 202); 
    margin-right: 10px;
}


span{
    display:inline-block;
    font-size:14px;
    color:rgba(128, 128, 128, 0.5);
    margin:2px;
}
#volumeSpan{
 color: beige;
background: rgb(28, 161, 202); 
 font-size: 14px;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
border: 1px solid #ccc;
padding: 2px;

}
canvas{
   
background:black;
border: 1px solid #ccc;
 width: 95%;
}


.song{
    font-size: 18px;
    color: rgb(28, 161, 202); 
    padding: 10px;
}

.song.hover{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}



.songsPanel{
    text-align: right;
}


.songsPanel li { 
    list-style: none;
}





.editDiv{
width: 95%;
 
// max-height: 100px;
overflow: scroll;
    
}


.editSubDiv{
border: 1px solid #ccc;
width: 93%;
 margin-top: 10px;
    margin-right: 20px;
padding: 2px;
// margin: 2px;
}

#inputDiv{
    // border: 1px solid #ccc;
padding: 5px;
width: 95%;
margin-top: 10px;
text-align: center;
}

.inputSubdiv{
    padding: 2px;
    border: 1px solid #ccc;
    width: 93%;
    // text-align: center;
    margin-top: 10px;
    margin-right: 20px;
max-height: 200px;
overflow: scroll;
}


textarea {
	width:100%;
	box-sizing:border-box;
//	direction:rtl;
	display:block;
	max-width:100%;
	line-height:1.5;
//	padding:15px 15px 30px;
	border-radius:3px;
	border:1px solid #F7E98D;
	font:13px Tahoma, cursive;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	font-smoothing:subpixel-antialiased;
	background:linear-gradient(#F9EFAF, #F7E98D);
	background:-o-linear-gradient(#F9EFAF, #F7E98D);
	background:-ms-linear-gradient(#F9EFAF, #F7E98D);
	background:-moz-linear-gradient(#F9EFAF, #F7E98D);
	background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
}